<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>


<div class="card card-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4 class="card-title">
                    Dividens
                </h4>
            </div>

        </div>
    </div>
    <table class="table table-striped table-hover table-responsive">
        <thead class="thead-light">
        <tr>
            <th scope="col">Tiker</th>
            <th scope="col">Date</th>
            <th scope="col">Share $</th>
            <th scope="col">Profit $</th>
            <th scope="col">Rate UAH</th>
            <th scope="col">Profit ₴</th>
            <th scope="col">PDFO (9%)</th>
            <th scope="col">Military Tax (1,5%)</th>
        </tr>
        </thead>
        <tbody>
        <#list dividends as dividend>
            <tr>
                <td>
                    <a href="https://wallmine.com/NASDAQ/${dividend.symbol}?ref=5o96"
                       target="_blank">${dividend.symbol}</a>
                </td>
                <td>${dividend.date} </td>
                <td><span>${dividend.perShare}</span></td>
                <td><span>${dividend.amount}</span></td>
                <td>${dividend.rate}</td>
                <td><span>${dividend.amountUah}</span></td>
                <td><span>${dividend.pdfoUah}</span></td>
                <td><span>${dividend.militaryUah}</span></td>

            </tr>
        </#list>
        </tbody>
        <tfoot>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"> $ ${totalAmount}</th>
        <th scope="col"></th>
        <th scope="col">${totalUah} ₴</th>
        <th scope="col">${pdfoUah} ₴</th>
        <th scope="col">${militaryUah} ₴</th>
        </tfoot>
    </table>

</div>

<div class="card card-body">
    <h4 class="card-title">Closed Orders</h4>
    <table class="table   table-hover table-responsive" style="width:100%">
        <thead class="thead-light">
        <tr>
            <th scope="col">Tiker</th>
            <th scope="col">Profit $</th>
            <th scope="col">Profit ₴</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Purchase Rate</th>
            <th scope="col">Purchase Amount</th>
            <th scope="col">Sell Price</th>
            <th scope="col">Sell Rate</th>
            <th scope="col">Sell Amount</th>
            <th scope="col">Profit without commission</th>
            <th scope="col">Commission</th>
        </tr>
        </thead>
        <tbody>
        <#list tradeSummaries as tradeSummary>

            <tr scope="row">
            <#if  tradeSummary.tradeSummaryRowsSize == 1 >
                <td>
                    <a href="https://wallmine.com/NASDAQ/${tradeSummary.symbol}?ref=5o96"
                       target="_blank">${tradeSummary.symbol} </a>
                </td>
                <td><span>${tradeSummary.profitOrLost}</span></td>
                <td><span>${tradeSummary.profitOrLostInCurrency}</span></td>
            <#else>
                <td rowspan="${tradeSummary.tradeSummaryRowsSize+1}">
                    <a href="https://wallmine.com/NASDAQ/${tradeSummary.symbol}?ref=5o96"
                       target="_blank">${tradeSummary.symbol}</a>
                </td>
                <td rowspan="${tradeSummary.tradeSummaryRowsSize+1}"><span>${tradeSummary.profitOrLost}</span></td>
                <td rowspan="${tradeSummary.tradeSummaryRowsSize+1}"><span>${tradeSummary.profitOrLostInCurrency}</span>
                </td>

            </#if>
            <#list tradeSummary.tradeSummaryRows as row>
                <#if  tradeSummary.tradeSummaryRowsSize != 1>
                    <tr>

                </#if>
                <td><span>${row.buyTransactionPrice}</span></td>
                <td><span>${row.buyRate}</span></td>
                <td><span>${row.buySum}</span></td>
                <td><span>${row.sellTransactionPrice}</span></td>
                <td><span>${row.sellRate}</span></td>
                <td><span>${row.sellSum}</span></td>
                <td><span>${row.profit}</span></td>
                <td><span>${row.commission}</span></td>
                <#if  tradeSummary.tradeSummaryRowsSize != 1>
                    </tr>
                </#if>

            </#list>
            </tr>

        </#list>
        </tbody>
        <tfoot>
        <th scope="col"></th>
        <th scope="col"> $ ${profitOrLost}</th>
        <th scope="col">${profitOrLostInCurrency} ₴</th>

        </tfoot>
        </tbody>
    </table>

</div>

